In [3]:
import pandas as pd

In [ ]:
with open('./data/random_forest_params.json','r') as file:
    rf_hyper_params = json.load(file)

In [21]:

import json
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

df = pd.read_csv('../data/test.csv', sep='[,$]' , decimal=".", engine='python')


df.columns = df.columns.str.lower()
df

,id,gender,age,driving_license,region_code,previously_insured,vehicle_age,vehicle__damage,annual__premium,policy_sales_channel,vintage
0,381000,Male,68,1,28.0,1,1-2 Year,No,53066.0,12.0,195
1,381001,Male,78,1,8.0,0,1-2 Year,Yes,28301.0,124.0,195
2,381002,Male,22,1,28.0,1,< 1 Year,No,2630.0,153.0,170
3,381003,Female,20,1,28.0,0,1-2 Year,Yes,38627.0,124.0,62
4,381004,Female,44,1,28.0,1,1-2 Year,No,24984.0,152.0,255
...,...,...,...,...,...,...,...,...,...,...,...
127142,508142,Female,26,1,37.0,1,< 1 Year,No,30867.0,152.0,56
127143,508143,Female,38,1,28.0,0,1-2 Year,Yes,28700.0,122.0,165
127144,508144,Male,21,1,46.0,1,< 1 Year,No,29802.0,152.0,74
127145,508145,Male,71,1,28.0,1,1-2 Year,No,62875.0,26.0,265
127146,508146,Male,41,1,29.0,1,1-2 Year,No,27927.0,124.0,231